#!/bin/bash

########## Directs error messages to userdata.log
exec 1>/var/log/userdata.log 2>&1

########## Cleanup the proxy
echo "removing proxy settings =======================================================" >> /var/log/userdata.log
rm -f /etc/profile.d/proxy_install.sh
unset http_proxy
unset https_proxy
unset HTTP_PROXY
unset HTTPS_PROXY
env >> /var/log/userdata.log

#####Disable iptable

service iptables stop
chkconfig iptables off
service iptables status >> /var/log/userdata.log

########## Mounting data disk
echo "adding the data disk ========================================================" >> /var/log/userdata.log
useradd vault
mkdir /vault
dmesg | grep SCSI  >> /var/log/userdata.log
parted /dev/sdc --script mklabel gpt mkpart xfspart xfs 0% 100%
partprobe /dev/sdc1
mkfs -t ext4 /dev/sdc1 
mount /dev/sdc1 /vault  
df -h  >> /var/log/userdata.log
echo /dev/sdc1  /vault ext4 defaults,nofail 0 2 >> /etc/fstab
mkdir /vault/log
mkdir /vault/tmp
chown -R vault:vault /vault
echo ""


########## Installing Az-Copy to copy config files from Azure Storage
echo "Downloading Az-Copy===============================================" >> /var/log/userdata.log
wget https://aka.ms/downloadazcopy-v10-linux
tar -xf downloadazcopy-v10-linux
cp ./azcopy_linux_amd64_*/azcopy /usr/bin/
azcopy --version >> /var/log/userdata.log

########### Installing Unzip and Vault
yum install -y wget unzip
export VER="1.3.0"
wget https://releases.hashicorp.com/vault/${VER}/vault_${VER}_linux_amd64.zip
unzip vault_${VER}_linux_amd64.zip
mv vault /bin/
vault -v  >> /var/log/userdata.log

########### Installing Consul
export VER="1.6.2"
wget https://releases.hashicorp.com/consul/${VER}/consul_${VER}_linux_amd64.zip
unzip consul_${VER}_linux_amd64.zip
mv consul /bin/
consul -v  >> /var/log/userdata.log


########### Installing Azure CLI
rpm --import https://packages.microsoft.com/keys/microsoft.asc
echo -e "[azure-cli]\nname=Azure CLI\nbaseurl=https://packages.microsoft.com/yumrepos/azure-cli\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" >> /etc/yum.repos.d/azure-cli.repo
yum install azure-cli -y
az --version >> /var/log/userdata.log
echo ""


############# Installing dependencies for running Ansible tasks for Azure Storage
echo "Installing pip packages===============================================" >> /var/log/userdata.log
wget https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
yum install ./epel-release-latest-*.noarch.rpm
wget https://bootstrap.pypa.io/get-pip.py
python get-pip.py
pip --version >> /var/log/userdata.log
pip install packaging
pip install ansible[azure]
pip install msrest
pip install msrestazure
pip install azure 
pip install azure.storage 
pip install azure.mgmt.automation



###Configuring Consul server
echo "Configuring the consul Server============================================================" >> /var/log/userdata.log 
if [[ $(az storage blob exists --container-name 'vault-consul-configuration-files' --name 'consul_agent_bootstrap.json' --sas-token '$1' --account-name 'stor{{ env }}vaultconsul') = true ]]; then
   echo " copying dynamic bootstrap file from azure storage ==========" >> /var/log/userdata.log
   azcopy copy "https://stor{{ env }}vaultconsul.blob.core.windows.net/vault-consul-configuration-files/consul_agent_bootstrap.json$1" '/vault/consul/config/consul.json' >> /var/log/userdata.log
   echo "" >> /var/log/userdata.log
fi

### A Shared Access Signature Token should be added to the az copy link to access a Storage Account. It will be inserted instead of $1
### after SAS token is created through Terraform

###Copying all files to tmp folder
echo "all static files to /tmp directory========================================================" >> /var/log/userdata.log
azcopy copy "https://stor{{ env }}vaultconsul.blob.core.windows.net/vault-consul-configuration-files/*$1" '/vault/tmp' --recursive >> /var/log/userdata.log
echo "" >> /var/log/userdata.log




#####configuring  datadog conf file

echo " Configuring Datadog agent ==================" >> /var/log/userdata.log
cp /vault/tmp/datadog.yaml /etc/datadog-agent/datadog.yaml
sed -i "s/@{api_key}/{{ data_dog_api }}/g" /etc/datadog-agent/datadog.yaml
sed -i "s/@{proxy_addr}/{{ proxy_address }}/g" /etc/datadog-agent/datadog.yaml  
chmod 644 /etc/datadog-agent/datadog.yaml

mkdir /etc/datadog-agent/conf.d/syslog.d
cp /vault/tmp/messages_conf.yaml /etc/datadog-agent/conf.d/syslog.d/messages_conf.yaml 
chmod -R 755 /etc/datadog-agent/conf.d/syslog.d
chmod 644 /var/log/messages

cp /vault/tmp/vault_conf.yaml /etc/datadog-agent/conf.d/vault.d/vault_conf.yaml
chown -R dd-agent:dd-agent /etc/datadog-agent/*
chmod -R 755 /etc/datadog-agent/conf.d/vault.d




echo "starting the datadog agent===============================================================" >> /var/log/userdata.log
systemctl stop datadog-agent.service
systemctl start datadog-agent.service
ps -ef | grep datadog >> /var/log/userdata.log
echo "" >> /var/log/userdata.log



echo "copying vault server file======================" >> /var/log/userdata.log
azcopy copy "https://stor{{ env }}vaultconsul.blob.core.windows.net/vault-consul-configuration-files/config.hcl$1" '/vault/config/config.hcl' --recursive >> /var/log/userdata.log
sed -i "s/@{keyvault_name}/${keyvault_name}/g" /vault/config/config.hcl
sed -i "s/@{keyvault_key}/${keyvault_key}/g" /vault/config/config.hcl
cat /vault/config/config.hcl >> /var/log/userdata.log



echo "starting the Consul Service===============================================================" >> /var/log/userdata.log
chown -R vault:vault /vault
cp /vault/tmp/consul_agent_systemd.service /etc/systemd/system/consul_agent_systemd.service
chmod 755 /etc/systemd/system/consul_agent_systemd.service
cd /etc/systemd/system/ && systemctl start consul_agent_systemd.service
/bin/consul members >> /var/log/userdata.log
echo "" >>  /var/log/userdata.log



echo "starting the Vault server===============================================================" >> /var/log/userdata.log
cp /vault/tmp/vault_systemd.service /etc/systemd/system/vault_systemd.service
chmod 755 /etc/systemd/system/vault_systemd.service
cd /etc/systemd/system/ && systemctl start vault_systemd.service

vault status >> /var/log/userdata.log
echo ""




