variable "tenant_id" {
  default = "{{ tenant_id }}"
}

variable "client_id" {
  default = "{{ client_id }}"
}


locals {
  tags = {
    "Name" = "consul_cluster"
    "Project"         = "CET"
    "BusinessUnit"    = "BSL"
    "Owner"           = "CloudEngineering@lseg.com"
    "CostCenter"      = "CET"
    "environment"     = "${upper("{{ env }}")}"
    "consul"          = "Server"
  }

  "lb_tags" = {
    "Project"         = "CET"
    "BusinessUnit"    = "BSL"
    "Owner"           = "CloudEngineering@lseg.com"
    "CostCenter"      = "CET"
    "Environment"     = "${upper("{{ env }}")}"
  }
}
