{
    "datacenter": "{{ location }}-{{ env }}",
    "data_dir": "/vault/consul/data",
    "log_level": "INFO",
    "enable_syslog": true,
    "encrypt": "rKUnEeXVL4T253c+l/Fg7Q==",
    "encrypt_verify_incoming": true,
    "encrypt_verify_outgoing": true,
    "retry_join": ["provider=azure resource_group={{ location }}-{{ env }}-vault-consul vm_scale_set=consul_cluster"]
  }

