[Unit]
Description=Consul Service
Requires=network-online.target
After=network-online.target

[Service]
Environment="ARM_SUBSCRIPTION_ID='{{ subscription_id }}'"
Environment="ARM_TENANT_ID='{{ tenant }}'"
Environment="ARM_CLIENT_ID='{{ client_id }}'"
Environment="ARM_CLIENT_SECRET='{{ secret }}'"
User=vault
Group=vault
PIDFile=/vault/consul/config/consul.pid
PermissionsStartOnly=true
ExecStart=/bin/consul agent -config-file=/vault/consul/config/consul.json -pid-file=/vault/consul/config/consul.pid
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target