{
    "datacenter": "{{ location }}-{{ env }}",
    "data_dir": "/consul/data",
    "log_level": "INFO",
    "server": true,
    "bootstrap_expect": 3,
    "enable_syslog": true,
    "ui": true,
    "client_addr": "0.0.0.0",
    "encrypt": "rKUnEeXVL4T253c+l/Fg7Q==",
    "encrypt_verify_incoming": true,
    "encrypt_verify_outgoing": true,
    "retry_join": ["provider=azure resource_group={{ location }}-{{ env }}-vault-consul vm_scale_set=consul_cluster"]
}
    
