[Unit]
Description=Consul Service
Requires=network-online.target
After=network-online.target

[Service]
Environment="ARM_SUBSCRIPTION_ID='{{ subscription_id }}'"
Environment="ARM_TENANT_ID='{{ tenant }}'"
Environment="ARM_CLIENT_ID='{{ client_id }}'"
Environment="ARM_CLIENT_SECRET='{{ secret }}'"
User=consul
Group=consul
PIDFile=/consul/config/consul.pid
PermissionsStartOnly=true
ExecStart=/bin/consul agent -server  -config-file=/consul/config/config.json -pid-file=/consul/config/consul.pid
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target