provider "azurerm" {}

module "scale-set" {
  source            = "../../../modules/vm_scale_set"
  cluster_name      = "consul_cluster"
  vault_consul_rg   = "{{ location }}-{{ env }}-vault-consul"

  #image_id            = "${module.get-ami.outputs.image_id}"
  #template_file       = "${file("${path.cwd}/user-data.tpl")}"
  storage_account_name = "stor{{ env }}vaultconsul"
  sharedservices_vnet   = "{{ vnet_name }}"
  sharedservices_subnet = "SSVS"
  backend_pool          = "${module.load_balancer.backend_pool}"
  networking_rg         = "{{ networking_rg }}"
  blob_url              = "${module.blob_copy.blob_url}"
  instance_type         = "Standard_DS1_v2"
  cluster_size          = "5"
  disk_size             = "100"
  keyvault_name         = "vault-{{ hub_subscription }}-kv"
  nsg_id                = "${module.nsg.nsg_id}"
  tags                  = "${local.tags}"
  domain_name_label     = "vmtestconsul"
}

module "load_balancer" {
  source                  = "../../../modules/lb"
  cluster_name            = "consul_cluster"
  networking_rg           = "{{ networking_rg }}"
  sharedservices_location = "{{ location }}"
  sharedservices_vnet     = "{{ vnet_name }}"
  sharedservices_subnet   = "SSVS"
  vault_consul_rg         = "{{ location }}-{{ env }}-vault-consul"
  application_port        = "8500"
  tags                    = "${local.lb_tags}"
}

module "blob_copy" {
  source               = "../../../modules/blob"
  vault_consul_rg    = "{{ location }}-{{ env }}-vault-consul"
  storage_account_name = "stor{{ env }}vaultconsul"
  container_name       = "consul-data-config"
  tags                 = "${local.tags}"

  file_path = {
    user-data.tpl = "user-data.tpl"
  }
}

module "nsg" {
  source            = "../../../modules/network_security_group"
  cluster_name      = "consul_cluster"
  tags              = "${local.tags}"
  vault_consul_rg = "{{ location }}-{{ env }}-vault-consul"
}


/*
To be used when RHEL image will be available in Shared Image Gallery"
module "get-ami" {
  source                  = "../../../modules/get_image"
  shared_image_gallery_rg = "AZU-BSL-SSVS-NP-RG"
}
*/