locals {
  tags = {
    "Name" = "consul_cluster"
    "Project"         = "CET"
    "BusinessUnit"    = "BSL"
    "Owner"           = "CloudEngineering@lseg.com"
    "CostCenter"      = "CET"
    "Environment"     = "${upper("{{ env }}")}"
    "Consul"          = "Server"
  }

  "lb_tags" = {
    "Project"         = "CET"
    "BusinessUnit"    = "BSL"
    "Owner"           = "CloudEngineering@lseg.com"
    "CostCenter"      = "CET"
    "Environment"     = "${upper("{{ env }}")}"
  }
}

