terraform {
  backend "azurerm" {
    resource_group_name        = "{{ sharedservices_rg_name  }}"
    storage_account_name       = "{{ backend_storage_account }}"
    container_name       = "{{ container_name }}"
    key            = "consul.tfstate"
    access_key = "{{ storage_key }}"
  }
}

