{
    "datacenter": "{{ location }}-{{ env_name }}",
    "data_dir": "/consul/data",
    "log_level": "INFO",
    "server": true,
    "bootstrap_expect": 3,
    "enable_syslog": true,
    "ui": true,
    "client_addr": "0.0.0.0",
    "encrypt": "rKUnEeXVL4T253c+l/Fg7Q==",
    "encrypt_verify_incoming": true,
    "encrypt_verify_outgoing": true,
    "acl": {
        "enabled": true,
        "default_policy": "deny",
        "down_policy": "extend-cache"
    }   
}
    