ui = true

seal "azurekeyvault" {
  tenant_id     = "{{ tenant_id }}"
  client_id = {{ client_id }}
  client_secret   = {{ client_secret }}
  vault_name = "@{keyvault_name}"
  key_name = "@{keyvault_key}"
}

storage "consul" {
  address = "localhost:8500"
  path    = "/vault/data"
  token   = "{{ master_token }}"
}

listener "tcp" {
  address     = "0.0.0.0:8200" 
  tls_disable = 1
  max_lease_ttl = "768h"
}