{
    "datacenter": "{{ location }}-{{ env_name }}",
    "data_dir": "/consul/data",
    "log_level": "INFO",
    "server": true,
    "bootstrap_expect": 3,
    "enable_syslog": true,
    "leave_on_terminate": true,
    "ui": true,
    "client_addr": "0.0.0.0",
    "encrypt": "rKUnEeXVL4T253c+l/Fg7Q==",
    "encrypt_verify_incoming": true,
    "retry_join": ["provider=azure resource_group={{ consul_rg_name }} vm_scale_set=consul_cluster tenant_id={{ tenant }} client_id={{ client_id }} subscription_id={{ subscription_id }} secret_access_key={{ secret }}"],
    "encrypt_verify_outgoing": true,
    "acl": {
        "enabled": true,
        "default_policy": "deny",
        "down_policy": "extend-cache",
        "tokens": {
            "master": "{{ master_token }}",
            "agent": "{{ agent_token }}"
        }
    }   
}
    