{
    "datacenter": "{{ location }}-{{ env }}",
    "data_dir": "/vault/consul/data",
    "log_level": "INFO",
    "enable_syslog": true,
    "encrypt": "rKUnEeXVL4T253c+l/Fg7Q==",
    "encrypt_verify_incoming": true,
    "encrypt_verify_outgoing": true,
    "retry_join": ["provider=azure resource_group={{ consul_rg_name }} vm_scale_set=consul_cluster tenant_id={{ tenant }} client_id={{ client_id }} subscription_id={{ subscription_id }} secret_access_key={{ secret }}"],
    "leave_on_terminate": true,
     "acl": {
        "enabled": false,
        "default_policy": "deny",
        "down_policy": "extend-cache",
        "tokens": {
            "agent": "{{ agent_token }}"
        }
    }
}